.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  align-items: flex-start;
}

.notfound {
  display: flex;
  flex-direction: column;
}

.notfound span {
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;

}
